---
title: My Rad Blog
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
      body { font-family: sans-serif; }
      main { max-width: 40%; margin: 0 auto; }
    </style>
  </head>
  <body>
    <main>
      {{ content | safe }}
    </main>
  </body>
</html>
